@tailwind base;
@tailwind components;
@tailwind utilities;

.chat-bar-scrollbar::-webkit-scrollbar {
    width: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #CBD5E0;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: #F7FAFC;
}

.feed-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.feed-scrollbar::-webkit-scrollbar-thumb {
    background-color: #808387;
    border-radius: 10px;
}

.feed-scrollbar::-webkit-scrollbar-track {
    background-color: #F7FAFC;
}